%bottom-aligned-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  
    padding: 0 110px 100px;
    box-sizing: border-box;
    text-align: center;
}