$hero: url("../assets/hero.png");
$egg: url("../assets/egg.jpg");
$cherries: url("../assets/cherries.png");
$orange: url("../assets/orange.jpg");
$glass: url("../assets/glass.jpg");
$sugar: url('../assets/sugar.png');
$milk: url('../assets/milk.png');
$orangeSmall: url('../assets/orange_small.png');
$cone: url('../assets/cone.png');